[credential "https://github.com"]
  helper =
  helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
  helper =
  helper = !/usr/bin/gh auth git-credential

[user]
  email = mr.hyde.hi.im.high@bk.ru
  name = hyde0x00

[push]
  autoSetupRemote = true

[pager]
  diff = pg -FRXsu

[color]
  ui = auto

[color "decorate"]
  head = normal
  branch = normal
  remotebranch = normal
  tag = normal
  stash = normal
  grafted = normal

[color "diff"]
  whitespace = red reverse
  meta = normal
  frag = brightblack
  new = brightgreen
  old = brightred
  commit = normal
